[{sasl, [{sasl_error_logger, {file, "priv/sasl/log/report.log"}},
         {errlog_type, all},                       % error | progress | all
         {error_logger_mf_dir, "priv/sasl/log"},   % Log directory
         {error_logger_mf_maxbytes, 10485760},     % 10 MB max file size
         {error_logger_mf_maxfiles, 3}]}].         % 3 files max
