{sub_dirs, ["rel"]}.

{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [warnings_as_errors]}.

{lib_dirs, ["deps"]}.

{deps, [
        {misultin, "0.8", {git, "git://github.com/ostinelli/misultin",
                                    {branch, "master"}}},
        {redo, "1.0", {git, "git://github.com/JacobVorreuter/redo",
                               {branch, "master"}}},
        {erl_helpers, "0.1", {git, "git://github.com/leandrosilva/erl_helpers",
                               {branch, "master"}}},
        {syslog, "0.1", {git, "git://github.com/JacobVorreuter/erlang_syslog",
                               {branch, "master"}}}
       ]}.
