%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../../"]},
       {rel, "cameron", "0.0.1",
        [
         cameron,
         kernel,
         stdlib,
         sasl,
         inets,
         syslog,
         redo,
         misultin
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "cameron"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, erlang_syslog, []},
       {app, redo, []},
       {app, misultin, [{incl_cond, include}]}
      ]}.


{target_dir, "cameron"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log"},
           {mkdir, "data"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/cameron.html", "data/www/cameron.html"},
           {template, "files/cameron", "bin/cameron"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.


