%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
[
 {cameron, [{web_server, [{host, "{{web_server_host}}"},
                          {port, {{web_server_port}} },
                          {backlog, {{web_server_backlog}} },
                          {docroot, "{{web_server_docroot}}"}]},
            {redis_server, [{host, "{{redis_host}}"},
                            {port, {{redis_port}} }]},
            {processes, [{foo, {start_activity_url, "{{foo_start_activity_url}}"}},
                         {bar, {start_activity_url, "{{bar_start_activity_url}}"}}]}]},

 %% SASL config
 {sasl, [{sasl_error_logger, {file, "log/sasl/report.log"}},
         {errlog_type, all},                   % error | progress | all
         {error_logger_mf_dir, "log/sasl"},    % Log directory
         {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
         {error_logger_mf_maxfiles, 3}]}       % 3 files max
].
